@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
}

.App{
    margin-top: 70px;
}

.input{
    height: 25px;
    width: 250px;
    border: 1px solid black;
    border-radius: 3px;
}

.addButton{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #5564eb;
    color: white;
    margin-left: 10px;
    border-bottom: 3px solid #3650d3;
}

.list{
    list-style: none;
}

.listItem{
    margin-top: 20px;
}

.deleteButton{
    height: 30px;
    width: 70px;
    border: none;
    border-radius: 5px;
    background-color: #B30000;
    color: white;
    margin-left: 10px;
    border-bottom: 3px solid #590000;
}

.introButton{
    height: 45px;
    width: 150px;
    border: none;
    border-radius: 5px;
    background-color: #cc6600 ;
    color: white;
    margin-left: 10px;
    border-bottom: 3px solid #a35200;
}

.mug{
    margin-left: 35px;
    margin-bottom: 25px;
    margin-top: 25px;
}